In [32]:
import numpy as np
import pandas as pd

Création de DataFrame :
     ◦ Créez un DataFrame à partir d'un dictionnaire avec trois colonnes : 'Nom', 'Âge', 'Ville'.
     ◦ Ajoutez une nouvelle colonne 'Profession' au DataFrame.

In [69]:
name = ["Mark", "Justin", "Ronaldo", "Kevin", "Jane", "Athena", "Ross"]
age= [10, 12, 50, 90, 45, 18, 25]
city = ["Port_of_Spain", "Barcelona", "Rio", "Berlin", "Paris", "Seoul", "Quebec"]
list(zip(name, age, city))

df = pd.DataFrame(list(zip(name, age, city)), columns=["Name", "Age", "City"])
df

      Name  Age           City
0     Mark   10  Port_of_Spain
1   Justin   12      Barcelona
2  Ronaldo   50            Rio
3    Kevin   90         Berlin
4     Jane   45          Paris
5   Athena   18          Seoul
6     Ross   25         Quebec

In [70]:
#Another way
dictionnary = {"Name":["Mark", "Justin", "Ronaldo", "Kevin", "Jane", "Athena", "Ross"],
               "Age":[10, 12, 50, 90, 45, 18, 25],
               "City":["Port_of_Spain", "Barcelona", "Rio", "Berlin", "Paris", "Seoul", "Quebec"],
               }

df = pd.DataFrame(dictionnary)
df

      Name  Age           City
0     Mark   10  Port_of_Spain
1   Justin   12      Barcelona
2  Ronaldo   50            Rio
3    Kevin   90         Berlin
4     Jane   45          Paris
5   Athena   18          Seoul
6     Ross   25         Quebec

In [71]:
df.insert(3, "Career", ["plumber", "casher", "engineer", "retiree", "lawyer", "student", "mademan"], True)
df

      Name  Age           City    Career
0     Mark   10  Port_of_Spain   plumber
1   Justin   12      Barcelona    casher
2  Ronaldo   50            Rio  engineer
3    Kevin   90         Berlin   retiree
4     Jane   45          Paris    lawyer
5   Athena   18          Seoul   student
6     Ross   25         Quebec   mademan

In [ ]:
#teacher's solution

Manipulation de Données :
  ◦ Filtrez les lignes où l'âge est supérieur à 25.
  ◦ Sélectionnez les colonnes 'Nom' et 'Ville' d'un DataFrame.

In [83]:
df = df.drop('Age' > '25', axis=0)
df

KeyError: '[True] not found in axis'

Groupement et Agrégation :
◦ Groupez le DataFrame par 'Ville' et calculez la moyenne d'âge pour chaque ville.
◦ Calculez le nombre total de personnes dans chaque profession.


Traitement de Valeurs Manquantes :
◦ Ajoutez des valeurs manquantes (NaN) à quelques positions dans le DataFrame.
◦ Remplacez les valeurs manquantes par la moyenne de la colonne correspondante.


Visualisation de Données avec Matplotlib :
◦ Tracez un diagramme à barres montrant l'âge moyen par ville.
◦ Tracez un nuage de points pour visualiser la relation entre l'âge et une autre variable de votre choix.